*.exp
*.aps
*.idb
*.ncp
*.obj
*.pch
*.sbr
*.tmp
*.pdb
*.bsc
*.ilk
*.res
*.ncb
*.opt
*.suo
*.dep
*.exe
*.map
*.vsidx
*.opendb
*.db

Sources/.vs/
Sources/Backup/
Sources/FilterText_StaticLib___Win32_Debug/

bin/
ClientDebug/
ClientRelease/
Core___Win32_Client_Debug/
Core___Win32_Client_Release/
Core___Win32_Server_Debug/
Core___Win32_Server_Release/
Core___Win32_ToolVersion_Debug/
Debug/
Documents/
Documents.rar
Engine___Win32_OuRead_Release/
Engine___Win32_OutRead_Debug/
FilterText_StaticLib___Win32_Debug/
FilterText_StaticLib___Win32_Release/
Hybrid/
JBin/
Release/
ServerDebug/
ServerRelease/