# San pham bien dich va du lieu tam cua bo kiem thu -- khong dua len git
test_dbtable/*.exe
test_dbtable/*.obj
test_dbtable/*.pdb
test_dbtable/*.ilk
test_dbtable/*.dll
test_dbtable/ref_roledb.bin
test_dbtable/mysql_roledb.log
test_kmysqldb/*.exe
test_kmysqldb/*.obj
test_kmysqldb/*.dll
test_kmysqldb/*.log
test_relay/*.exe
test_relay/*.obj
test_relay/*.dll
test_relay/*.log
